{% for data in stock_list %}
<tr class="home_stock_header_row">
    <td class="home_stock_item">
        <a href="{% url 'stock_detail' ticker=data.stock_list.ticker %}" class="home_stock_name">
            {{ data.stock_list.ticker }}
        </a>
    </td>
    <td class="home_stock_item">{{ data.total_score }}</td>
    <td class="home_stock_item">${{ data.current_price }}</td>
    <td class="home_stock_item">${{ data.daily_profit }}</td>
    <td class="home_stock_item">${{ data.daily_return }}</td>
    <td class="home_stock_item">{{ data.support_resistance_score }}</td>
    <td class="home_stock_item">{{ data.kinematics_score }}</td>
    <td class="home_stock_item">{{ data.five_day_velocity_score }}</td>
    <td class="home_stock_item">{{ data.five_day_accelaration_score }}</td>
    <td class="home_stock_item">{{ data.support_resistance_score }}</td>
    <td class="home_stock_item">{{ data.daily_macd_score }}</td>
    <td class="home_stock_item">{{ data.daily_macd_velocity }}</td>
    <td class="home_stock_item">{{ data.weekly_macd_score }}</td>
    <td class="home_stock_item">{{ data.weekly_macd_velocity }}</td>
    <td class="home_stock_item">{{ data.ma_score }} </td>
    <td class="home_stock_item">{{ data.ma_50d_score }}</td>
    <td class="home_stock_item">{{ data.ma_100d_score }}</td>
    <td class="home_stock_item">{{ data.ma_200d_score }}</td>
</tr>
{% endfor %}
